<ion-view view-title="Recover Password" class="md-box recovery-view" hide-nav-bar="true">

    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <button class="button custom-back" ng-click="showMenu()">
                <i class="ion-ios-arrow-back"></i>
            </button>
        </div>
    </ion-header-bar>

    <ion-content class="padding">
        <form class="list verify-form" ng-show="showForm">
            <h2 translate>Password Recovery</h2>

            <div class="padding50">
                <p>type the email address used in your account</p>
            </div>
            <div class="list list-inset info-wrap">
                <label class="item item-input">
                    <i class="icon ion-ios-email-outline placeholder-icon"></i>
                    <input type="text" placeholder="Email address" ng-model="data.email">
                </label>
            </div>
            <div class="padding50">
                <p>Recovery instructions will be sent to your email</p>
                <button class="button button-block submit-btn" ng-click="pwd_recovery()">SEND RECOVERY INSTRUCTIONS
                </button>
            </div>
            <div>
                <p>Don't have an account? <strong>Sign Up</strong></p>
            </div>
        </form>
    </ion-content>

</ion-view>